{
	acme_dns cloudflare API_TOKEN
}


https://rtynerlabs.io {
	
	# enable static file server
	file_server

	# compress response
	encode gzip	

	#test response
	respond "hello"

}

https://portainer-cloud.rtynerlabs.io {

	reverse_proxy 127.0.0.1:9000

}

https://uptime.rtynerlabs.io {

	reverse_proxy 127.0.0.1:3001

}


https://search.rtynerlabs.io {

	reverse_proxy 127.0.0.1:5000

}

https://wiki.rtynerlabs.io {

	reverse_proxy 100.70.153.87:6875

}

https://rss.rtynerlabs.io {

	reverse_proxy 127.0.0.1:8069

}

https://paste.rtynerlabs.io {

	reverse_proxy 127.0.0.1:8080

}

https://todo.rtynerlabs.io {

	reverse_proxy 100.64.117.54:80
}

https://music.rtynerlabs.io {

	reverse_proxy 100.64.117.54:4533
}

https://dash.rtynerlabs.io {

	reverse_proxy 100.64.117.54:8083
}