[defaults]
inventory  = hosts
private_key_file = ~/.ssh/id_ed25519
host_key_checking = False
interpreter_python = auto
remote_user=rt
COLLECTIONS_PATHS = /opt/homebrew/Cellar/ansible/11.1.0/libexec/lib/python3.13/site-packages/ansible_collections

# (string) Privilege escalation method to use when `become` is enabled.
become_method=sudo

# (string) The user your login/remote user 'becomes' when using privilege escalation, most systems will use 'root' when no user is specified.
become_user=root

# (list) List of enabled inventory plugins, it also determines the order in which they are used.
; enable_plugins=host_list, script, auto, yaml, ini, toml

# network_group_modules=eos, nxos, ios, iosxr, junos, enos, ce, vyos, sros, dellos9, dellos10, dellos6, asa, aruba, aireos, bigip, ironware, onyx, netconf, exos, voss, slxos

# [paramiko_connection]
# (boolean) TODO: write it
; host_key_auto_add=False

# (boolean) TODO: write it
; look_for_keys=True
